body {
    font-size: 100%;
    width: 90%;
    margin: auto;
}
h1 {
    font-size: 150%;
    color: #2ebd59;
    margin-bottom: 2px;
}
h2 {
    font-size: 150%;
    color: #1ed760;
}
.copyright {
    font-size: 80%;
    color: #aca;
}
a {
    color: #2ebd59;
}
a:hover {
    color: #1ed760;
}