body {
    font-size: 100%;
    width: 90%;
    margin: auto;
    font-family: sans-serif;
}
h1 {
    color: #2ebd59;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
h2 {
    color: #1ed760;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
.copyright {
    font-size: 80%;
    color: #aca;
}
a {
    color: #2ebd59;
}
a:hover {
    color: #1ed760;
}